body {
  font-family: "Libre Franklin", sans-serif;
}

/* Hero section Styles */
.hero-section {
  display: flex;
}

.hero-details {
  width: 50%;
}

.hero-image {
  width: 50%;
}

.hero-details > h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}
