/* Global css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

/* Hero section Styles */
.hero-section {
  display: flex;
  padding-left: 60px;
  align-items: center;
  background: url(./images/top-banner.png) no-repeat;
  margin-bottom: 150px;
}

.hero-details {
  width: 50%;
  padding-right: 4%;
}

.hero-image {
  width: 50%;
  padding-left: 1%;
}

.hero-image img {
  width: 80%;
}

.hero-details > h1 {
  font-size: 50px;
}

.first-heading {
  margin-bottom: 50px;
}

.second-heading {
  margin-bottom: 47px;
}

.sub-heading {
  margin-bottom: 20px;
}

.hero-text {
  color: dimgray;
  margin-bottom: 20px;
}

.orange-color {
  color: orange;
}

.btn-hire {
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
}

/* About Section Styling */
.about {
  display: flex;
  padding: 0 30px;
  background: url(./images/dream-bg.png) no-repeat;
  background-position: right 205px;
  margin-bottom: 150px;
}

.about-left {
  width: 50%;
}

.about-left img {
  width: 90%;
}

.about-right {
  width: 50%;
  margin-top: 65px;
}

.about-right > h1 {
  font-size: 50px;
  margin-bottom: 38px;
}

.about-right > h3 {
  margin-bottom: 20px;
}

.about-text {
  color: dimgray;
  margin-bottom: 25px;
}

.btn-resume {
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Experience Section */
.exp-sec {
  background: url(./images/exp-bg.png) no-repeat;
  background-position: left 134px;
  margin-bottom: 150px;
}

.exp-sec > h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.exp-body {
  display: flex;
  justify-content: center;
}

.exp-ex {
  width: 42%;
  box-shadow: 10px 5px 40px gray;
  padding-left: 3%;
  border-radius: 10px;
  border-left: 7px solid;
  border-image: linear-gradient(rgb(233, 164, 151), rgb(255, 84, 54));
  border-image-slice: 1;
}

.exp-ex > h1 {
  font-size: 35px;
  margin-top: 30px;
}

.exp-ex > h3 {
  color: orange;
  margin-top: 30px;
}

.exp-ex > p {
  color: dimgray;
  margin-top: 15px;
  margin-bottom: 50px;
}

.exp-entry {
  width: 42%;
  margin-left: 5%;
  box-shadow: 10px 5px 40px gray;
  padding-left: 3%;
  border-radius: 10px;
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

.exp-entry > h1 {
  font-size: 35px;
  margin-top: 30px;
}

.exp-entry > h3 {
  color: orange;
  margin-top: 30px;
}

.exp-entry > p {
  color: dimgray;
  margin-top: 15px;
}
