* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

/* Hero section Styles */
.hero-section {
  display: flex;
  padding-left: 60px;
}

.hero-details {
  width: 50%;
  padding-right: 4%;
}

.hero-image {
  width: 50%;
  padding-left: 1%;
}

.hero-image img {
  width: 80%;
}

.hero-details > h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.btn-hire {
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
}
